$inline-block:inline-block;
$dodgerblue:dodgerblue;
@mixin cate-area-recom{
    background-color: white;
    height: auto;
    ul{
        padding: 20px 20px;
        clear: both;
        overflow: hidden;
        li{
            float:left;
            padding: 0.6em 1.2em;
            font-size: 0.8em;
            a{
                color:#666666;
                font-size:0.95em;
            }
        }
    }
}
@mixin width-set($width){
    width:$width;
}
@mixin height-set($height){
    height:$height;
}
@mixin wid-het-set($width,$height){
    width:$width;
    height:$height;
}
#container{
    @include width-set(96%);
    margin: auto 2%;
    #main,#aside {
        display:$inline-block;
        float: left;
        .slogan{
            display: $inline-block;
            margin-left: 20px;
            margin-bottom: 7px;
            color: rgb(255,68,102);
            font-size:0.8em;
            img{
                @include wid-het-set(20px,20px);
                vertical-align:text-bottom;
            }
        }
    }
    #main{
        @include width-set(74%);
        margin-right: 1%;
        .flexslider{
            @include height-set(300px);
            margin-bottom: 10px;
            z-index:1;
        }
        #message-block {
            #display{
                ul{
                    li{
                        @include height-set(110px);
                        padding: 20px 30px;
                        &:nth-child(odd){
                            background-color:rgb(255,255,255);
                        }
                        &:nth-child(even){
                            background-color: rgb(252,252,252);
                        }
                        .left{
                            display:$inline-block;
                            @include wid-het-set(70%,70px);
                            h3{
                                a{
                                    font-weight: 500;
                                    font-size:0.95em;
                                    color: $dodgerblue;
                                }
                            }
                            #details{
                                color:rgb(140,140,140);
                                font-size: 0.8em;
                                margin-top: 38px;
                            }
                        }
                        #money{
                            display:$inline-block;
                            float: right;
                            padding: 0.5em 2em;
                            margin-top: 18px;
                            font-weight: 700;
                            font-size: 1.2em;
                            color: rgb(255,68,102);
                        }
                    }
                    li+li{
                        border-top:1px dashed rgb(221,221,221);
                    }
                }
            }
        }
    }
    #aside{
        @include width-set(25%);
        div{
            margin-bottom: 10px;
        }
        #research{
            input{
                padding: 0.5em 1em;
                @include width-set(80%);
                font-size: 0.8em;
                border:none;
                -webkit-box-shadow:  0 1px 1px rgb(221, 221, 221);
                -moz-box-shadow:  0 1px 1px rgb(221, 221, 221);
                box-shadow:  0 1px 1px rgb(221, 221, 221);
            }
            button{
                @include wid-het-set(18%,30px);
                vertical-align: bottom;
                background-color: rgb(255,68,102);
                border: none;
                border-radius:5px ;
                color: white;
                outline:none;
            }
        }
        #category,#area,#recommend{
            @include cate-area-recom;
        }
        #category,#aread{
            ul{
                li{
                    &:last-child{
                        a{
                             color:$dodgerblue;
                        }
                    }
                    a{
                        &:hover{
                            color:$dodgerblue;
                        }
                    }
                }
            }
        }
        #recommend{
            ul{
                li{
                    a{
                        color:$dodgerblue;
                    }
                }
            }
        }
    }
}
.shadow{
    -webkit-box-shadow:  3px 3px 3px rgb(221, 221, 221);
    -moz-box-shadow:  3px 3px 3px rgb(221, 221, 221);
    box-shadow: 3px 3px 3px rgb(221, 221, 221);
}




