/* reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, address,
ul, li,
fieldset, form, label, legend,
figure, figcaption, img,
header, section, nav, footer, time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font-family:"Helvetica";*/
  font-family: "Microsoft YaHei";
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
figcaption, figure, footer, header, nav, section {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  line-height: 1; }

ul {
  list-style: none; }

/* a */
a {
  text-decoration: none; }

/* h1, h2, h3 and hr */
h1, h2, h3 {
  font-weight: 500; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

hr {
  width: 10%; }

#wrapper {
  background-color: #eeeff1; }
  #wrapper #header {
    margin: 20px 0 24px;
    height: 94px;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 1px #dddddd; }
    #wrapper #header div, #wrapper #header nav {
      display: inline-block; }
    #wrapper #header #logo {
      height: 74px;
      margin: 20px 0 0 40px; }
      #wrapper #header #logo img {
        vertical-align: baseline; }
        #wrapper #header #logo img:first-child {
          width: 50px;
          height: 50px; }
    #wrapper #header #publish {
      float: right;
      height: 58px;
      margin: 36px 8px 0 0; }
      #wrapper #header #publish ul li {
        float: left;
        padding: 0.6em 3em;
        margin: auto 1em;
        border: 1px solid #ff4466; }
        #wrapper #header #publish ul li a {
          font-size: 0.95em; }
          #wrapper #header #publish ul li a:hover {
            text-decoration: none; }
        #wrapper #header #publish ul li:first-child {
          background-color: #ff4466; }
          #wrapper #header #publish ul li:first-child:hover {
            border: 1px solid rgba(255, 68, 102, 0.8);
            background-color: #e22754; }
          #wrapper #header #publish ul li:first-child a {
            color: white; }
        #wrapper #header #publish ul li:nth-child(2) a {
          color: #ff4466; }
        #wrapper #header #publish ul li:nth-child(2):hover {
          background-color: #ff4466; }
          #wrapper #header #publish ul li:nth-child(2):hover a {
            color: white; }
  #wrapper #footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    text-align: center;
    font-size: 0.8em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    color: whitesmoke; }
    #wrapper #footer #link {
      margin: 1em auto 0 auto; }
      #wrapper #footer #link li {
        float: left;
        padding: 0 2em; }
        #wrapper #footer #link li:first-child {
          margin-top: -3px; }
        #wrapper #footer #link li a {
          color: whitesmoke; }
          #wrapper #footer #link li a:hover {
            color: cornflowerblue; }
      #wrapper #footer #link li + li {
        border-left: 1px solid whitesmoke; }
    #wrapper #footer address {
      font-style: normal;
      display: block;
      margin: 1em auto; }
      #wrapper #footer address p {
        display: inline;
        margin: 0 1em; }
        #wrapper #footer address p:first-child {
          font-style: oblique; }
        #wrapper #footer address p span {
          margin-right: 5px; }

.fixed-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0.95;
  position: absolute; }

/*# sourceMappingURL=public.css.map */
